.header {
  display: flex;
  justify-content: space-between;
  width: 85%;
  top: 0;
  left: 0;
  height: 5rem;
  background-color: rgb(118, 118, 214);
  color: white;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 2.25);
  z-index: 10;
  position: fixed;
}

